<html><head><title>Test</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="main">
<h1><center>GPIO Control Unit</center><br>
<center>%mqtt_device_name%</center></h1>
<p>
Temperature = %temperature%, Humidity = %humidity%. Time %time%, date %date%. Analog Input = %analog%   
</p>
<form method="post" action="led.cgi">
<input type="password" name="web_pass" value="%web_pass%"> Password<br><br> 
<input type="submit" name="led" value="1"><input type="submit" name="led" value="0"> LED state is %ledstate%<br>
<input type="submit" name="relay" value="1"><input type="submit" name="relay" value="0"> RELAY state is %relaystate%<br>
</form>
</div>
</body></html>

