
body {
	background-color: #404040;
	font-family: sans-serif;
}

#main {
	background-color: #FFFF99;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 2px solid #000000;
	width: 400px;
	margin: 0 auto;
	padding: 20px
}

